.card {
  display: flex;
  flex-direction: column;
}

.card div {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}

.card h1 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.card h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.card input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-family: inherit;
  color: #383838;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  border: 0;
}

.card input::placeholder {
  color: #76838a;
}

.card input:focus {
  outline: 0;
}

.card button {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 0.5rem 1.75rem;
  border-radius: 9999px;
  background-color: #ffc832;
  font-family: inherit;
  color: #383838;
  cursor: pointer;
  border: 0;
}

.error h2 {
  color: #e74c3c;
}

@media (min-width: 640px) {
  .card input {
    width: 32rem;
  }
}
