.header {
  display: flex;
  justify-content: center;
}

.nav {
  --shadow-link: 0 0 0 2px #a8973859;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-bottom: 1px solid #fff;
  justify-items: center;
  padding: 1rem 0;
}

.nav a {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
}

.nav a:hover {
  box-shadow: var(--shadow-link);
}

@media (min-width: 640px) {
  .nav {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
